---
import Chroma from "../components/designs/Chroma.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeaturesOne from "../components/FeaturesOne.astro";
import LearningEngine from "../components/LearningEngine.astro";
import HeroSectionMobile from "../components/HeroSectionMobile.astro";
import About from "../components/About.astro";
import WavyDesktop from "../components/WavyDesktop.astro";
---

<Layout title="Welcome to Arkx Talent Factory.">
  <Navbar />
  <Chroma />
  <div class="container-scroll relative top-0">
    <HeroSection />
    <HeroSectionMobile />

    <WavyDesktop />
    <About />
    <FeaturesOne />
    <LearningEngine />
  </div>
</Layout>
