---
import Layout from "../layouts/Layout.astro";
import ThreeDArkx from "../components/designs/ThreeDArkx.astro";
import GalaxyButton from "../components/designs/GalaxyButton.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Welcome to Arkx Talent Factory.">
  <!-- <Navbar /> -->
  <div class="overflow-hidden realtive top-0 right-0">
    <ThreeDArkx />
    
  </div>
</Layout>
