---
import Chroma from "../components/designs/Chroma.astro";
---

<div class="top-0">
  <Chroma>
    <div class="-mb-52 w-full top-0 isolate pt-14 lg:px-8">
      <slot />
    </div>
  </Chroma>
</div>
