---
import Chroma from "../components/designs/Chroma.astro";
---

<div class="relative top-0">
  <Chroma>
    <div class="relative isolate pt-14 lg:px-8">
      <slot />
    </div>
  </Chroma>
</div>
