---
import { Image } from "astro:assets";
import logoArkx from "../assets/logos/Logo_complet.svg";
---

<header
  class="backdrop-blur-xl lg:px-8 px-6 shadow fixed top-0 left-0 w-full py-4 z-[50]"
>
  <div class="max-w-[100rem] mx-auto flex items-center justify-between -z-[999]">
    <div class="flex items-end gap-2.5">
      <Image src={logoArkx} alt="" class="h-auto w-20" />
      <p class="text-white font-medium">Talent Factory</p>
    </div>
    <div class="flex items-center h-full">
      <div class="z-[99] border-2 border-white p-1.5 rounded-full">
        <input id="toggle-btn" type="checkbox" />
        <label id="hamburger" class="toggle toggle2" for="toggle-btn">
          <div id="bar4" class="bars"></div>
          <div id="bar5" class="bars"></div>
          <div id="bar6" class="bars"></div>
        </label>
      </div>
    </div>
  </div>
  <nav class="nav relative z-[9999]">
    <div class="nav__inner">
      <div class="nav--transition-slide"></div>
      <div class="nav--items">
        <div class="nav--item">
          <div class="nav--item-link">
            <a href="#" class="nav--link">
              <span class="nav--link-text" data-text="projects">projects</span>
              <div class="nav--link-icon">
                <svg class="icon">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="nav--item-line"></div>
        </div>
        <div class="nav--item">
          <div class="nav--item-link">
            <a href="#" class="nav--link">
              <span class="nav--link-text" data-text="about">about</span>
              <div class="nav--link-icon">
                <svg class="icon">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="nav--item-line"></div>
        </div>
        <div class="nav--item">
          <div class="nav--item-link">
            <a href="#" class="nav--link">
              <span class="nav--link-text" data-text="contact">contact</span>
              <div class="nav--link-icon">
                <svg class="icon">
                  <use xlink:href="#arrow-right"></use>
                </svg>
              </div>
            </a>
          </div>
          <div class="nav--item-line"></div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  @tailwind components;
  @layer components {
    .nav__inner {
      @apply z-[99] relative;
    }
    .nav--link-text {
      @apply font-medium h-full relative md:text-[6vw] text-[12vw] capitalize
      tracking-tighter hover:scale-[1.02] transition-all duration-300;
      color: #fff;
      /* -webkit-text-stroke: 1.5px #fff; */
    }
    .nav--item {
      @apply relative lg:w-1/2 w-5/6 lg:h-[150px] h-[100px] px-4;
      margin-bottom: 2rem;
      overflow: hidden;
    }
    .toggle2 {
      @apply lg:w-[30px] lg:h-[30px] w-[20px] h-[20px];
    }
  }
  .hidden {
    display: none;
  }
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -999;
  }
  .nav .nav__inner {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .nav .nav__inner .nav--items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .nav__inner .nav--items .nav--item-link .nav--link {
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: translateY(110%);
  }
  .nav .nav__inner .nav--items .nav--item-link .nav--link-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 400ms ease;
  }
  .nav .nav__inner .nav--items .nav--item-link .nav--link-icon {
    transform: translateX(-35%);
    opacity: 0;
    transition:
      transform 250ms ease,
      opacity 100ms linear;
    margin-left: 25px;
  }
  .nav .nav__inner .nav--items .nav--item-link .nav--link-icon svg {
    width: 100px;
    height: 100px;
    fill: #fff;
  }
  .nav
    .nav__inner
    .nav--items
    .nav--item-link
    .nav--link:hover
    .nav--link-text::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .nav
    .nav__inner
    .nav--items
    .nav--item-link
    .nav--link:hover
    .nav--link-icon {
    transform: translateX(0%);
    opacity: 1;
  }
  .nav .nav__inner .nav--items .nav--item-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #dadada;
    transform: scaleX(0);
  }
  .nav .nav__inner .nav--transition-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    transform: scaleX(0);
  }
  #toggle-btn {
    display: none;
  }
  .toggle2 {
    z-index: 9995;
    position: relative;
    top: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 2px;
    background-color: #fff;
    z-index: 200;
    border-radius: 6px;
  }

  #bar5 {
    transition-duration: 0.8s;
  }

  #bar4,
  #bar6 {
    width: 80%;
  }

  #toggle-btn:checked + .toggle2 .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #toggle-btn:checked + .toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #toggle-btn:checked + .toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #toggle-btn:checked + .toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #toggle-btn:checked + .toggle2 {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
</style>

<script>
  import gsap from "gsap";

  const btn = document.querySelector("#toggle-btn");
  const nav = document.querySelector("nav");

  nav.classList.add("hidden");

  btn.addEventListener("click", () => {
    if (btn.classList.contains("active")) {
      hide();
      btn.classList.remove("active");
      setTimeout(() => {
        nav.classList.add("hidden");
      }, 1000);
    } else {
      nav.classList.remove("hidden");
      btn.classList.add("active");

      show();
    }
  });

  function show() {
    let tl = gsap.timeline();

    gsap.set(".nav__inner, #toggle-btn", {
      pointerEvents: "none",
    });

    tl.fromTo(
      ".nav--transition-slide",
      {
        scaleX: 0,
        transformOrigin: "left center",
      },
      {
        duration: 0.5,
        scaleX: 1,
        ease: "Expo.inOut",
      }
    )
      .set(".nav__inner, #toggle-btn", {
        pointerEvents: "all",
      })
      .fromTo(
        ".nav--item-line",
        {
          scaleX: 0,
          transformOrigin: "left center",
        },
        {
          duration: 0.65,
          scaleX: 1,
          ease: "Expo.inOut",
          stagger: 0.15,
        }
      )
      .fromTo(
        ".nav--link",
        {
          translateY: "110%",
        },
        {
          duration: 2,
          translateY: 0,
          ease: "elastic.inOut",
          stagger: 0.15,
        },
        "-=1.65"
      );
  }

  function hide() {
    let tl = gsap.timeline();

    gsap.set(".nav__inner, #toggle-btn", {
      pointerEvents: "none",
    });

    tl.to(".nav--item-line", {
      duration: 0.6,
      scaleX: 0,

      transformOrigin: "right center",
      ease: "Expo.inOut",
      stagger: -0.15,
    })
      .to(
        ".nav--link",
        {
          duration: 0.35,
          translateY: "110%",
          ease: "Expo.inOut",
          stagger: -0.15,
        },
        0
      )
      .to(".nav--transition-slide", {
        duration: 0.5,
        transformOrigin: "right center",
        scaleX: 0,
        ease: "Expo.inOut",
      })
      .set("#toggle-btn", {
        pointerEvents: "all",
      });
  }
</script>
