---
import { Image } from "astro:assets";
import logo from "../assets/logos/Logo_complet.png";
---

<nav
  class="abolute top-0  z-10 h-max w-full max-w-full rounded-none py-2 px-4 lg:px-8 lg:py-4"
>

    <Image src={logo} alt=" " class="w-52 h-auto" />
</nav>
