---
import { Image } from "astro:assets";
import arkxTalentFactoryLogo from "../assets/logos/Logo_complet.png";
---

<nav>
  <div class="w-full absolute mt-8 flex justify-between items-center px-20">
    <Image class="logo" src={arkxTalentFactoryLogo} alt="Arkx Talent Factory" />
    <div></div>
  </div>
</nav>