---
import { Image } from "astro:assets";
import Scroll from "../layouts/Scroll.astro";
import rocket from "../assets/svg/rocket-ornge.svg";
import Wavy from "./Wavy.astro";
---

<section id="wavy" class="w-full lg:mt-52 md:-mt-12 -mt-32 mb-32 lg:mb-0">
  <div
    class="w-full uppercase bg-[#1A1A1A] md:text-[2vw] text-[4vw] font-medium text-white shadow-md"
  >
    <Scroll>
      <li class="mr-6">
        <h2 class="">
          <span>#into</span>
          <span class="text-[#ff3200]">The</span>
          <span>future</span>
        </h2>
      </li>
      <li class="mr-6">
        <Image src={rocket} class="w-12" alt="" />
      </li>
      <li class="mr-6">
        <h2>
          <span>#Becoming</span>
          <span class="text-[#ff3200]">HEROES</span>
        </h2>
      </li>
      <li class="mr-6">
        <Image src={rocket} class="w-12" alt="" />
      </li>
      <li class="mr-6">
        <h2>
          <span class="text-[#ff3200]">#</span>
          <span>TECHNOLOGISTS</span>
          <span class="text-[#ff3200]">2023</span>
        </h2>
      </li>
      <li class="mr-6">
        <Image src={rocket} class="w-12" alt="" />
      </li>
    </Scroll>
  </div>
</section>

<!-- <div
  class="relative -top-52 uppercase md:hidden text-white font-nedium text-[5vw] w-screen bg-[#1a1a1a] shadow-md flex items-center -mt-52"
>
  <Wavy />
</div> -->
