---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.cdnfonts.com/css/hubot-sans");
  :root {
    --background-color: #1a1a1a;
    --text-color: #a1a1aa;
    --card-background-color: rgba(255, 255, 255, 0.015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #ffffff;
    --card-icon-color: #d4d4d8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: 0.1;
    --card-shine-gradient: conic-gradient(
      from 205deg at 50% 50%,
      rgba(16, 185, 129, 0) 0deg,
      #6a00ff 25deg,
      #6a00ff41 295deg,
      rgba(16, 185, 129, 0) 360deg
    );
    --card-line-color: #6a00ff39;
    --card-tile-color: #6a00ff1b;
    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-background-color: #6a00ff28;
    --card-hover-icon-border-color: #6a00ff5b;
    --blur-opacity: 0.01;
  }
  * {
    font-family: "Hubot-Sans", sans-serif;
  }
  html {
    background: #161616;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    height: 100vh;
  }

body {
  transition: 0.3s ease-out;
  overflow-x: hidden;
}
  .grid_gradient {
    --line: hsla(0, 0%, 95%, 0.391);
    background:
      linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin /
        10vmin 10vmin,
      linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin
        10vmin;
    mask: linear-gradient(-15deg, transparent 30%, white);
  }
</style>

<script src="../js/change-background.js"></script>
