---
// import GalaxyButton from "./GalaxyButton.astro";
---

<div class=" w-full" id="canvas-wrapper" aria-label="ARK-x">
  <!-- <div
      class="absolute overflow-hidden w-full pb-32 pt-96 flex justify-center items-end bottom-0"
    >
      <GalaxyButton />
    </div> -->
</div>

<script src="../../js/threeD-arkx.js"></script>
