---
import KeyboardText from "../designs/KeyboardText.astro";
import Mobile from "./Mobile.astro";

const lettersDesktop = [
  "T",
  "E",
  "C",
  "H",
  "N",
  "O",
  "L",
  "O",
  "G",
  "I",
  "C",
  "A",
  "L",
];
---

<section class="mx-auto max-w-full pt-0 sm:pt-24 lg:pt-72">
  <!-- <div class="sm:mb-8 flex justify-center">
    <div
      class="relative rounded-full px-3 md:py-1 md:text-sm text-[9px] leading-6 text-gray-300 ring-1 ring-gray-100/10 hover:ring-gray-100/20"
    >
      Announcing our next round of funding. <a
        href="#"
        class="font-semibold text-[#ff5000]"
        ><span class="absolute inset-0" aria-hidden="true"></span>Read more <span
          aria-hidden="true">&rarr;</span
        ></a
      >
    </div>
  </div> -->
  <!-- DESKTOP -->
  <div
    class="text-center text-white lg:-mt-10 lg:text-[5vw] text-[7vw] font-medium tracking-[-0.3vw] md:block hidden"
  >
    <h2>Harness Africa's</h2>
    <h2 class="lg:leading-[6vw] leading-[10vw]">
      <KeyboardText letters={lettersDesktop} />
      <span>Potential.</span>
    </h2>
  </div>
  <!-- MOBILE -->
  <Mobile />

</section>

<div>
  <!-- <RolatingText /> -->
</div>
