---
---

<div class="w-full md:block hidden text-center text-gray-50 text-[9vw] font-medium tracking-[-0.3vw]">
      <h1>Unleach African's</h1>
      <h1 class="md:leading-[6vw]">Tech Potential</h1>
</div>
<div class="w-screen md:hidden block px-6 text-[15vw] text-gray-50 font-bold">
        <h2 class="text-start">Unleash</h2>
        <h2 class="text-end">African's</h2>
        <h2 class="text-start tech relative">Tech</h2>
        <h2 class="text-end">Potential</h2>
</div>

