---
import KeyboardText from "../designs/KeyboardText.astro";
import Mobile from "./Mobile.astro";

const lettersDesktop = [
  "T",
  "E",
  "C",
  "H",
  "N",
  "O",
  "L",
  "O",
  "G",
  "I",
  "C",
  "A",
  "L",
];
---

<section class="mx-auto max-w-full pt-0 sm:pt-24 lg:pt-48">
  <!-- DESKTOP -->
  <div
    class="text-center text-white lg:-mt-10 lg:text-[5vw] text-[7vw] font-medium tracking-[-0.3vw] md:block hidden"
  >
    <h2>Harness Africa's</h2>
    <h2 class="lg:leading-[6vw] leading-[10vw]">
      <KeyboardText letters={lettersDesktop} />
      <span>Potential.</span>
    </h2>
  </div>
  <!-- MOBILE -->
  <Mobile />

  <div class="max-w-5xl mx-auto">
    <h3
      class="md:text-center lg:!leading-[2vw] text-start px-8 lg:text-[1.5vw] text-lg md:mt-4 mt-4 text-gray-200"
    >
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet reiciendis
      voluptatem asperiores odio.
    </h3>
    <div class="w-full relative z-[9999] flex mt-8 md:mt-12 items-center justify-center">
      <a
        class="py-3 text-gray-50 font-medium md:text-lg px-6 rounded-full hover:bg-[#6a00ff] bg-[#5c00f9] z-50"
      >
        Join Community
      </a>
      <button
        class="w-12 h-12 flex items-center justify-center rounded-full ml-4 bg-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="#1A1A1A"
          class="w-6 h-6"
        >
          <path
            fill-rule="evenodd"
            d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<div>
  <!-- <RolatingText /> -->
</div>
