---
import RolatingText from "./RolatingText.astro";
---

<section class="mt-52 w-full md:block hidden">
  <div class="text-center text-white text-[8vw] font-medium tracking-[-0.3vw]">
    <h2>Unleach African's</h2>
    <h2 class="leading-[6vw]"><span class=""> Tech</span> Potential</h2>
  </div>
  <h3 class="text-center text-[1.2vw] text-gray-200 mt-8">
    Make <span class="font-semibold">world-class career</span> 🚀 pathways in
    technology accessible at scale.
  </h3>
</section>
<div>
  <!-- <RolatingText /> -->
</div>
