---
const letters = ["P", "o", "t", "e", "n", "t", "i", "a", "l"];
---

<div class="text-[15vw] mt-32 md:hidden block font-medium px-6 text-gray-50">
  <h1 class="leading-[16vw] font-bold">
    <span class="block">Unleash</span>
    <span class="block">African's</span>
    <span class="block">Tech</span>
    <span class="keyboard">
      {letters.map((letter) => <span class="keym">{letter}</span>)}.
    </span>
  </h1>
</div>

<style>
  .keym {
    display: inline-block;
    transition: transform 0.2s;
    letter-spacing: -0.5vw;
  }
  @keyframes pressDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }
</style>

<script>
  const keys = document.querySelectorAll(".keym");
  function pressRandomKey() {
    const e = keys[Math.floor(Math.random() * keys.length)];
    (e.style.animation = "pressDown 0.2s ease-in-out"),
      (e.onanimationend = () => {
        (e.style.animation = ""),
          setTimeout(pressRandomKey, 100 + 300 * Math.random());
      });
  }
  pressRandomKey();
</script>
